body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

button{
    border: 2px solid orangered;
    background-color: #fff;
    color: orangered;
    font-weight: bold;
    padding: 3px;
    cursor: pointer;
    transition: opacity 250ms;
}

button:hover{
    opacity: 0.8;
}

/* header style */
header{
    color: orangered;
}

header h1{
    font-size: 3em;
}

/* main style */
section{
    border: 2px solid orangered;
    background-color: orangered;
    margin: auto;
    width: 70%;
    border-radius: 5px;
    padding: 20px;
}

section p{
    color: #fff;
}

section label{
    color: #fff;
}

section .proposition-area{
    border: 2px solid #fff;
    background-color: #fff;
    padding: 65px;
    border-radius: 5px;
    color: orangered;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
}

section .game-area input{
    width: 80%;
    color: orangered;
    font-weight: bold;
}

section .score-area{
    color: #fff;
}

section .share-area{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* footer style */
footer{
    border: 2px solid orangered;
    background-color: orangered;
    text-align: center;
}

footer p{
    color: #fff;
}

footer span{
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}

/* dialog style */
dialog{
    border: 2px solid orangered;
    background-color: orangered;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}

dialog h1{
    color: #fff;
}

dialog form label{
    color: #fff;
}

dialog form input{
    width: 500px;
    padding: 3px;
    color: orangered;
    font-weight: bold;
}